.classForDisplay {
	flex-wrap: nowrap !important;
}
.classforImage {
    width: 100%;
    height: 100%;
    max-height: 250px;
    padding: 10px;
}
.classforImage img {
    height: 100%;
    max-height: 250px;
    width: 100%;
    padding: 10px;
    object-fit: contain;
    margin: auto;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 0;
}
iframe {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.hide {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}
.modal-footer {
    justify-content: flex-start;
}
.jc-c {
    display: flex;
    justify-content: center;
}

.border {
    position: relative;
    left:0; top:0;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    border: none !important;
    border-bottom: 1px solid rgb(204, 204, 255) !important;
}
.row {
    align-items: stretch;

}
.main, .services, .about, .partners, .contact, .production, .cards, .news, .question, .production-partners {
    font-family: "Roboto";
    font-size: 13px;
}
.main .container:first-child .row{
    align-items: center;
}
.main #main-nav {
    position: relative;
    z-index: 1;
}

.logo {
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
}
.slct {
    padding: 0;
    display: flex;
    align-items: center;
    line-height: 3;
    overflow: hidden;
    margin: 0 auto;
}
.lang, .lang-adaptive {
    width: 100%;
    display: inline-block;
    color: rgb(37, 37, 37);
    line-height: 2.308;
    appearance:button;
    -webkit-appearance:button;
    -moz-appearance:button;
    -ms-appearance:button;
    outline: none;
    border: none;
    cursor: pointer;
    background-image: url(../images/arrows.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
.lang-adaptive {
    display: none;
    background-color: rgba(255,255,255,0);
}
.lang::-ms-expand,.lang-adaptive::-ms-expand {
    display: none;
}



.search {
    outline: none;
    width: 100%;
    color: rgb(180, 180, 180);
    line-height: 2.308;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 20px/15px;
    vertical-align: middle;
    padding-left: 15px;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
    transition: .5s;
    border-color: #669999;
}
.search:focus {
    border-color: #669999;
    color: rgb(37, 37, 37);
    outline: none;
}
.number {
    display: inline-block;
    min-width: 167px;
    font-size: 18px;
    color: rgb(37, 37, 37);
    line-height: 1.278;
    text-decoration: none;
    transition-duration: .3s;
}
.number:hover {
    text-decoration: none;
}
.number:before  {
    display: inline-block;
    content: url(../images/phone.png);
    position: relative;
    left: -15px;
    top: 2px;
    -webkit-animation: ring-ring 1s infinite alternate;
    animation: ring-ring 1s infinite alternate;
}
.order-a-call:focus {
    outline: none;
}
.order-a-call, .inner-btn {
    color: rgb(70, 72, 78);
    line-height: 2.308;
    border: 2px solid rgb(102, 102, 153);
    border-radius: 20px/15px;
    background-color: rgb(255,255,255);
    -webkit-animation: bc-switch 2s;
    animation: bc-switch 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    transition: all 1.5s;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;

}
.order-a-call:hover {
    animation:none;
    border-color: rgb(102, 102, 153);
    background-color: rgb(102, 102, 153);
    color: rgb(255,255,255);
    transition: all 1.5s;
}
.menu ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li {
    flex: 1;
    border-right: 1px solid rgb(204, 204, 255);

}
.menu li.acting {
    background-image: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
    background-image: -o-linear-gradient(left, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
    background-image: linear-gradient(to right, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
    border-top: 3px solid #666699;
    border-collapse: collapse;
}
.menu li:last-of-type {
    border-right: none;
}
.menu a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: rgb(44, 72, 76);
    text-transform: uppercase;
    line-height: 2.143;
    padding-top: 22px;
}
.menu li:not(.acting) a:hover {
    background-image: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
    background-image: -o-linear-gradient(left, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
    background-image: linear-gradient(to right, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
    border-top: 3px solid #666699;
}

.main .container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}
.bg-01 {

    background-size: cover;
    height: 719px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.d-block {
    width: 69%;
    margin: 0 auto;
}
.slide-01 {
    width: 45%;
    margin-right: auto;
    margin-left: 30px;
    margin-top: 100px;
    color: rgb(255, 255, 255);

}
.slide-01 h1{
    margin-top: 7rem;
    font-size: 43px;
    font-family: "Roboto";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}

.slide-01 span {
    display: inline-block;
    width: 85%;
    margin-top: 100px;
    font-size: 20px;
    font-family: "Roboto";
    text-transform: uppercase;
    line-height: 1.55;
    text-align: left;
    text-shadow: 0.743px 0.669px 0px rgba(0, 0, 0, 0);
}
.service h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    line-height: 1.2;

}
.service span {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
	margin-bottom: 0.6rem;
}
.service p {
    padding-left: 10px;
    align-self: center;
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(70, 72, 78);
    line-height: 1.308;
    text-align: left;
	margin-bottom: 0;
	align-self: flex-start;
}
.img-effect {
    -ms-align-self: center;
    align-self: center;
    background: url(../images/icons.png) no-repeat;
    background-color: rgb(255,255,255);
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px 20px;
    cursor: pointer;
    transition: all 1.3s;
}
.img-effect:hover {
    transform: scale(1.2) rotate(360deg);
}
.b-1 {
    background-position: 10px 10px;
}
.b-2 {
    background-position: -240px 10px;
}
.b-3 {
    background-position: -490px 10px;
}
.b-4 {
    background-position: -750px 10px;
}
.b-5 {
    background-position: 10px -50px;
}
.b-6 {
    background-position: -240px -50px;
}
.b-7 {
    background-position: -490px -50px;
}
.b-8 {
    background-position: -750px -50px;
}
.nav {
    display: flex;
    flex-direction: column;
    opacity: 0;
}
.nav .row {
    align-items: flex-start;
}
.nav h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto";
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding:  20px;
}
.nav a {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-family: "Myriad Pro";
    color: rgb(70, 72, 78);
    line-height: 1.308;
}
.nav a:before {
    display: inline-block;
    content: url(../images/slide-arrow.png);
    position: absolute;
    left: -15px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.nav a:hover {
    text-decoration: none;
}



.info-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.dropdown > .dropdown-content {
    font-size: 10px;
    width: 100%;
    line-height: 1.308;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
}
.dropdown > input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.dropdown > input[type="checkbox"]:checked ~ .dropdown-content {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    transition: max-height 2s ease-in-out;
}
.dropdown > input[type="checkbox"]:checked + a:before {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    margin-top: 40px;
}
.footer-nav p {
    margin: 0;
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(92, 92, 92);
    line-height: 1.308;
}
.footer-nav a[href$=".php"] {
    margin-bottom: 10px;
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(70, 72, 78);
    text-decoration: underline;
}
.footer-nav h4 {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(22, 22, 22);
    line-height: 1.286;
    text-align: left;

}
.footer-nav h4:before {
    content: url('../images/pointer.png');
    position: relative;
    left: -5px;
    top: 3px;
}
.footer-nav a[href^="tel"], .footer-nav a[href^="mailto"] {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(152, 163, 166);
    line-height: 1.286;
    text-align: left;
}
.grey {
    color: #a6afb2;
}
.footer-nav h4 ~ p {
    color: #a6afb2;
}

.hc-nav-trigger {
    z-index: 1;
    top: -230px;
}


@media (min-width: 561px) and (max-width: 767px) {
    .menu ul {
        flex-direction: column;

    }
    .menu li {
        border: none;
    }
    .menu li:not(.acting) a:hover {
        border-top: none;
        background-image: none;
    }

}

@media (max-width: 560px) {
    .nav {
        text-align: center;
    }
    .lang {
        display: none;
    }
    .lang-adaptive {
        display: block;
        position: absolute;
        width: auto;
        right: 0;
        top: 0;
    }
    .search {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}
@media (max-width: 955px) {
    .bg-01 {
        background-size: contain;
        min-height: 516px;
    }
    .slide-01 {
        width: 100%;
    }
    .slide-01 h1{
        font-size: 25px;
        text-shadow: 0px 0px 10px black;
    }

    .slide-01 span {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        margin-top: 0;
        text-shadow: 0px 0px 10px black;
    }
    .service {
        margin-top: -15rem;
    }
    .service span {
        margin-top: 1rem;
    }
}
@media (max-width: 767px) {
    .inner-btn, .search, .number, .order-a-call {
        margin-top: 15px;
    }
}


@media (min-width: 360px) and (max-width: 767px) {
    .slide-01 h1 {
        margin-top: 0;
    }
    .main .container-fluid {
        margin-top: 0;
    }
    #selectedLang {
        display: none;
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .logo {
        max-width: 75%;
    }
}
.cards-content .modal-content {
	background-color: unset;
	border: unset;
	border-radius: unset;
}
#expandedImg {
	max-width: 100%;
}
#expandedImage {
	width: 100%;
}
.chooseLanguageClass {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
	cursor: pointer;
}
.linkClick {
	display: inline-block;
	width: 100%;
}