.container:first-child .row .pt-3 .text-center {
    align-items: center;
}
.row {
    align-items: stretch;
    flex-flow: wrap row;
}
.block {
    background-color: rgb(0, 0, 0);
    height: 452px;
}
.img {
    background: url("../images/img.png") no-repeat;
    background-size: cover;
}
.dropdown {
    width: 100%;
}
.dropdown-menu {
    min-width: 5rem;
    font-size: inherit;
    
    border: 2px solid rgb(102, 102, 153);
}
.dropdown-menu.show {
    width: 100%;
}
/* .open > .dropdown-menu {
    min-width: 5rem;
    color: rgb(70, 72, 78);
    line-height: 2.308;
    font-size: 13px;
    font-family: "Roboto";
    border: none;
    border-radius: 0 0 10px 10px;
    background-color: rgb(255,255,255);
} */
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color:
            #333;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.main-plink {
    font-size: 14px !important;
    font-family: "Roboto" !important;
    color: #d0d0d0 !important;
    line-height: 1.286 !important;
}
.main-plink a {
    color: #4e799d;
}
.main-plink span {
    color: #4e799d;
}
.main-plink a:hover {
    text-decoration: none;
}
.about-content, .services-content, .partners-content, .news-content, .question-content {
    opacity: 0;
}
.services-content, .partners-content, .news-content, .question-content {
    -webkit-animation: fadeIn forwards 2s;
    animation: fadeIn forwards 2s;
}
.about-h1, .production-h1, .news-h1, .question-h1 {
    font-size: 41px;
    font-family: "Roboto";
    color: rgb(33, 33, 33);
    font-weight: bold;
    line-height: 1.2;

}
.about-h2, .services-h2, .production-h2 {
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1;
}

.sw-pages-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    padding: 0;
    margin: 0;
}


.sw-pages-menu li {
    flex: 1;
}
.sw-pages-menu li:hover {
    border-radius: 10px;
    background-color: rgb(78, 121, 157);

}

.sw-pages-menu li:hover a{
    color: rgb(255,255,255);
    border: none;
}
.sw-pages-menu li.acting {
    background-image: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
    background-image: -o-linear-gradient(left, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
    background-image: linear-gradient(to right, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
    border-top: 3px solid #666699;
    border-collapse: collapse;
}

.sw-pages-menu a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 3;
    margin-top: 6%;
    margin-bottom: 6%;
}
.acting-sw-link {
    border-radius: 10px;
    background-color: rgb(78, 121, 157);
}
.acting-sw-link a {
    color: rgb(255,255,255)
}

#sw-page_01 p, #sw-page_02 p, #sw-page_03 p, #sw-page_04 p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.786;

}
/* .separator {
	border: 1px solid rgb(218, 218, 218);
	border-collapse: collapse;
} */
.separator {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: stretch;
    cursor: pointer;
    overflow: hidden;
}

.about .separator img{
    width: 100%;
}

.tulsk-logo{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.separator .partners-name {
    text-align: center;
    margin-top: 30px;
    font-size: 16.445px;
    font-weight: normal;
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    line-height: 4.378;
    -moz-transform: matrix( 0.85213675213675,0,0,0.85132382892057,0,0);
    -webkit-transform: matrix( 0.85213675213675,0,0,0.85132382892057,0,0);
    -ms-transform: matrix( 0.85213675213675,0,0,0.85132382892057,0,0);

}
.separator p {
    text-align: center;
    margin-top: 30px;
    font-size: 16.445px;
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    line-height: 4.378;
    -moz-transform: matrix( 0.85213675213675,0,0,0.85132382892057,0,0);
    -webkit-transform: matrix( 0.85213675213675,0,0,0.85132382892057,0,0);
    -ms-transform: matrix( 0.85213675213675,0,0,0.85132382892057,0,0);

}

.partners-content  .separator p {
    margin-top: 0;
}


.separator img {
    transition: all .5s;
}

.partners-content .separator .img-cont__img img {
    height: 100%;
    max-height: 150px;
    width: 100%;
    padding: 10px;
    object-fit: contain;
    margin: auto;
}

.classforImage img {
    height: 100%;
    max-height: 250px;
    width: 100%;
    padding: 10px;
    object-fit: contain;
    margin: auto;
}

.partners-content .separator .img-cont__img {
    width: 100%;
    height: 100%;
    max-height: 150px;
    padding: 10px;
}

.classforImage {
    width: 100%;
    height: 100%;
    max-height: 150px;
    padding: 10px;
}

.separator:hover img, .separator:hover h2 {
    filter: blur(.7px);
}
.separator:hover .moreOfProductions {
    top: 45%;

}
.separator .moreOfProductions {
    transition: all .8s;
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-50%);
    color: #fff;
    background-color: #4e799d;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
}
.separator .moreOfProductions:hover {
    filter: grayscale(.6);
}



/* .sw-pages-menu li:not(.acting) a:hover {
  background-image: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
  background-image: -o-linear-gradient(left, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
  background-image: linear-gradient(to right, rgb(255,255,255) 0%, rgba(255,255,255,0.04) 11%, rgba(212,212,225,0.37) 89%, rgba(169,169,195,0.41176) 100%);
  border-top: 3px solid #666699;
} */
.left-arrow {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    padding-right: 5px;
}
.right-arrow {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    padding-left: 5px;
}
.left-bg {
    width: 20%;
    height: 2.6rem;
    background-color: rgb(78, 121, 157);

}
.left-bg a {
    background-image: url(../images/link-arrow-left.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
.right-bg {
    width: 20%;
    height: 2.6rem;
    background-color: rgb(78, 121, 157);

}
.right-bg a {
    background-image: url(../images/link-arrow-right.png);
    background-repeat: no-repeat;
    background-position: 50%;
}
.left-bg a, .right-bg a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.services h3, .news h3 {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(46, 53, 58);
    font-weight: bold;
    line-height: 1.132;
    text-align: left;

}
.services p, .news p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(46, 53, 58);
    line-height: 1.786;
    text-align: left;

}
.news img {
    margin-bottom: 1.3rem;
}
.more {
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(78, 121, 157);
    line-height: 2.308;
    text-transform: uppercase;
}
.more:hover {
    text-decoration: none;
}
.more:after {
    content: url(../images/services-arrow.png);
    position: relative;
    top: 0;
    left: .7rem;
}


.partners .separator .img-cont {
    border-top: 1px solid rgb(218, 218, 218);
    border-right: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    text-align: center;
    height: 200px;
    width: 100%;
}


.partners .separator .text-cont p{
    margin-left: -24px;
}

@media(max-width:768px){
    .partners .separator .text-cont p{
    margin-left: -15px;
}
}

@media(max-width:640px){
    .partners .separator .text-cont a{
        margin-left: 15px;
    }
}


.partners .separator .img-cont p::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 2px;
    background: #4988c0;
    left: 46%;
    top: -10px;
}

.partners .separator:nth-child(1) .img-cont {
    border-left: 1px solid rgb(218, 218, 218);
}

.partners .separator .img-cont p{
    text-align: center;
}

.partners-h2, .contact-h2 {
    font-size: 36px;
    font-family: "Roboto";
    color: rgb(33, 33, 33);
    font-weight: bold;
    line-height: 1.2;

}


.partners p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.786;
    text-align: left;
    width: 100%;
}
.partner .tulsk-logo {

}
.production .inner-btn {
    animation: none;
    flex: 1;
    text-align: center;
    transition: all 0s;
    outline: none;
}

.production input[type=checkbox]:checked ~ .inner-btn {
    color: rgb(102, 102, 153);
}
.production .inner-btn:hover {
    text-decoration: none;
    color: rgb(70, 72, 78);
    cursor: pointer;

}
.production .dropdown-menu > li > label {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color:
            #333;
    white-space: nowrap;
}
.production .dropdown-menu > li > label:focus, .dropdown-menu > li > label:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.production input[type=checkbox]:checked ~ .category {
    color: rgb(102, 102, 153);
}
.contact-info h4{
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(33, 33, 33);
    font-weight: bold;
    line-height: 1.714;


}
.contact-info h4:before {
    content: url(../images/icon.png);
    position: relative;
    left: -5px;
    top: 0;
}
.contact-info p {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(33, 33, 33);
    line-height: 1.75;
    margin-bottom: 0;
}
.contact-info a[href^="tel"] {
    display: inline-block;
    font-size: 29px;
    font-family: "Roboto";
    color: rgb(78, 121, 157);
    font-weight: bold;
    line-height: 1.606;

}

.contact-info a[href^="mail"] {
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(33, 33, 33);
    line-height: 1.75;
    padding-left: 20px;

}
.contact-info a[href^="mail"]:before {
    content: url(../images/mail.png);
    position: relative;
    left: -20px;
    top: 0;
}
.contact-info .col-sm-12.col-md-12 {
    display: flex;
    flex-flow: column wrap;
}
.contact-info a:hover {
    text-decoration: none;
}
.production-border {
    border-width: 10px;
    border-color: rgb(240, 244, 248);
    border-style: solid;
    padding: 5%;
}
.production p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.571;

}
.production .p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(114, 114, 114);
    line-height: 1.571;
}
.production .inner-btn {
    display: inline-block;
    width: 100%;
}
.production .first-btn:after, .production .second-btn:after, .production .third-btn:after {
    content: url(../images/production-arrow.png);
    position: absolute;
    left: 90%;
}

.cs300-lg {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 4px #ededed;
    text-align: center;
}

.cs300-lg p {
    text-align: center;
    font-size: 15.428px;
    font-family: "OpenSans";
    color: rgb(205, 205, 205);
    line-height: 1.945;
    -moz-transform: matrix( 0.78128631187544,0,0,0.7778001397624,0,0);
    -webkit-transform: matrix( 0.78128631187544,0,0,0.7778001397624,0,0);
    -ms-transform: matrix( 0.78128631187544,0,0,0.7778001397624,0,0);
}
.cards-content h2 {
    font-size: 30px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1;
    margin-bottom: 2rem;
}

.cards-content p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.571;
}
.cards-content .zoom p {
    cursor: pointer;
}
.cards-content .check{
    color: rgb(16, 16, 16);
    line-height: 1.786;
    text-align: left;
}
.cards-content .check:before{
    content: url(../images/check.png);
    position: relative;
    padding-right: 1rem;
    left: 0;

}
.cards-content .p {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(114, 114, 114);
    line-height: 1.143;
}
.cards-content h4 {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 0.889;
    text-align: left;
}
.production-border span {
    font-weight: bold;
}
.cards .inner-btn {
    display: inline-block;
    width: 100%;
}
.cards .mini-imgs img{
    width: 102px;
    height: 71px;
}
.question .dropdown > .dropdown-content {
    display: none;
    font-size: 10px;
    width: 100%;
    line-height: 1.308;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: max-height 0.6s ease-out;
    -o-transition: max-height 0.6s ease-out;
    -webkit-transition: max-height 0.6s ease-out;
    transition: max-height 0.6s ease-out;
    animation: hideAnimation 0.4s ease-out;
    -moz-animation: hideAnimation 0.4s ease-out;
    -webkit-animation: hideAnimation 0.4s ease-out;
}
.question .dropdown > input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.question .dropdown > input[type="checkbox"]:checked ~ .dropdown-content {
    display: block;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    transition: max-height 2s ease-in-out;
}
.question .dropdown > input[type="checkbox"]:checked + a:before {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.question-content .dropdown a {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Roboto";
    color: rgb(38, 38, 38);
    line-height: 1.5;
    text-align: left;
    border-bottom: 1px solid rgb(204,213,222);

}
.question-content .dropdown a:after {
    content: url(../images/question-arrow.png);
    position: absolute;
    left: 95%;
}
.question-content .dropdown h4 {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(78, 121, 157);
    line-height: 1.5;
    text-align: left;
    margin: 25px 0;

}
.question-content .dropdown p {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(38, 38, 38);
    line-height: 1.667;
    text-align: left;
}
.question-content .dropdown li {
    list-style-image: url(../images/question-circle.png);
    padding-left: 20px;
}


@media (max-width: 560px) {
    .sw-pages-menu {
        display: flex;
        align-items: flex-start;
    }
    .sw-pages-menu ul {
        flex: 1;
        flex-direction: column;
        align-items: stretch;
    }
    .sw-pages-menu a {
        margin-top: 0;
        margin-bottom: 0;
    }
    .production .first-btn:after, .production .second-btn:after, .production .third-btn:after {
        top: 40%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .separator:first-child {
        border-right: 1px solid rgb(218, 218, 218);
        border-bottom: none;
    }
    .separator:nth-child(2) {
        border-bottom: none;
        border-right: 1px solid rgb(218, 218, 218);
    }
    .separator:nth-child(3) {
        border-bottom: none;
    }
    .separator:nth-child(4) {
        border-right: 1px solid rgb(218, 218, 218);
        border-bottom: none;
    }
    .separator:nth-child(5) {
        border-bottom: none;
    }
    .separator:last-child {
        border-left: 1px solid rgb(218, 218, 218);;
    }
}
